<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{{GUID}}"
           UpgradeCode="{{GUID}}"
           Language="1033"
           Manufacturer="{{Your publisher name}}"
           Name="{{Your title}}"
           Version="1.0.0.0">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Amazing VN">
        </Directory>
      </Directory>

        <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="ProgramMenuDir" Name="{{Start Menu submenu name}}">
                <Component Id="ProgramMenuDir" Guid="{{GUID}}">
                    <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
                    <Shortcut Id="StartMenuShortcut" Name="{{Shortcut Name}}" Target="[#{{ID of your binary}}]" WorkingDirectory="INSTALLDIR" />
                </Component>
            </Directory>
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop">
            <Component Id="DesktopIcon" Guid="{{GUID}}">
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
                <Shortcut Id="DesktopShortcut" Name="{{Shortcut Name}}" Target="[#{{ID of your binary}}]" WorkingDirectory="INSTALLDIR" />
            </Component>
        </Directory>
    </Directory>

    <Feature Id="MainFeature">
      <ComponentGroupRef Id="AllFiles" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="DesktopIcon" />
    </Feature>


  </Product>
</Wix>
